<html>
<head>
<meta charset="utf-8">
<title>Example htmlshit</title>
</head>
<body>
<H2>Проверка</H2>
<p>Проброс порта локальнога в Интернетъ-с</p>
<h1>{{header}}</h1> <!--Простой заголовок-->
<p>Имя: {{bio.name}}, Возраст: {{bio.age}}</p> <!--отображение словаря-->
<p>Адресс: ул. {{adress.0}}, д. {{adress.1}}, кв. {{adress.2}}</p> <!--отображение кортежа-->
<p>{{langs.0}}, {{langs.1}}, {{langs.2}}</p> <!--список-->
<p>Person: name: {{person.name}}, Age: {{age.age}}</p> <!--вытянул из класса "Person-->

</body>

</html>